#content {
  @include container;
//   font-family: 'SVN-Gilroy',Sans-serif;
//   font-style: normal;

.title {
  display: flex;
  justify-content: space-between;
  margin-top: 72px;
  margin-bottom: 18px;
  height: 72px;
  line-height: 72px;
  align-items: center;


  .name_title {
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    color: $black;
    }
  }

  .form_control {
    width: 144px;
    height: 40px;
    background: $white;
    border: 1px solid #DEDEDE;
    border-radius: 4px;
    font-size: 15px;
    line-height: 22px;
  }

  ul.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    li.blog {
      // margin: 0 15px;
      width: 417px;
      // height: 552px;
      background: $white;
      border: 1px solid #CCCCCC;
      border-radius: 8px;
      margin-bottom: 50px;
      margin-top: 20px;

      a.category_thumb {
        display: block;
        width: 100%;
        height: 276px;
      }

      img {
        max-width: 100%;
        height: 100%;

        &:hover {
          opacity: 0.8;
          cursor: pointer;
        }
      }
    }

    .content_category {
      margin-top: 25px;
      margin-left: 27.45px;
      margin-right: 10px;
    }

    li.blog .info {
      display: flex;
      align-items: center;
      margin-left: 0;
    }

    li.blog .info .name, li.blog .info {
      font-weight: 400;
      font-size: 18px;
      line-height: 30px;
      color: #211E3B;
    }

    li.blog .info .icon {
      width: 21px;
      height: 21px;
      margin-right: 5.5px;
      top: 10%;
      bottom: 53.44%;
    }

    li.blog .info .name {
      margin-right: 27.5px;
    }

    li.blog .content {
      margin-top: 15px;
    }

    li.blog .content .title_content {
      font-family: 'SVN-Gilroy';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 28px;
      color: #211E3B;
    
    }
  
    li.blog .content .describe {
      margin-top: 10px;
      margin-bottom: 30px;
      font-style: normal;
      font-weight: 400;
      line-height: 25px;
      color: #211E3B;
    }
  
    li.blog .content .button {
      position: relative;
      display: inline-block;
    }
  
    li.blog .content .read_more {
      width: 137px;
      height: 40px;
      left: 122px;
      top: 1190px;
      background: $white;
      border: 1px solid #E4E4E4;
      border-radius: 4px;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: $color_content;
      text-indent: -35px;
      margin-bottom: 20px;

      &:hover {
        cursor: pointer;
        background-color: $color_content;
        color: $white;
      }
    }
  }

  .icon_arrow {
    width: 18px;
    height: 8px;
    position: absolute;
    top: 11px;
      right: 1px;
  }
  
  .navigation_bar {
    display: flex;
    justify-content: center;
  }
  
  .navigation_bar ul {
    
    li {
      display: inline-block;
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 36px;
      font-weight: 700;
      font-size: 20px;
      /* line-height: 28px; */
      color: #211E3B;

      &:hover a {
        background-color: #FFE4E4;
        color: $color_content;
      }

      a{
        @include navigation_bar();
      
      }
      
      a.three {
        background-color: #FFE4E4;
        color: $color_content;
      }
  
      &:first-child a {
        background-color: $color_content;
        color: $white;
      }
  
      &:last-child a {
        color: $white;
        background: #E5E5E5;
        transform: rotate(-180deg);
      }
    }
  }
}


