

@media (max-width: 640px) {
  #header {
    max-width: 640px;
    height: 69px;
    background-color: $white;
    box-shadow: 0px 1px 14px rgba(0, 0, 0, 0.25);

    .container {
      max-width: 495px;
      margin: 0 auto;
      display: block;

      .left {
        width: 100%;
        justify-content: space-between;
        margin: 12px 0px;
      }
    
      .icon_menu {
        display: block !important;
        width: 26.25px;
        cursor: pointer;
        z-index: 1000;
      }
    
      a.logo {
        display: block;
        width: 47px;
        height: 45px;
      
      }
    
      .input {
        position:unset;
      }
    
      .btn_search  {
        top: -9px;
        position: absolute;
      }
    
      .search {
        display: none;
      }
    
      ul.info {
        // display: none;
        display: none;
        background-color: $color_border;

        li {
          width: 100%;
          display: block;
          margin: 10px 0px;
    
          &:hover{
            background-color: #A7A7A7;
            cursor: pointer;
          }
    
          &:first-child {
            width: 100%;
          }
    
          &:hover a {
            color: $color_content;
          }
    
          a.create {
            margin-left: 0;
          }
        }
      }
    }
  }

  .banner {
    height: 454px;
    background: url(/image/banner_responsive.png) no-repeat center;
    background-size: 100%;
    block-size: 454px;
  }

  #content {
    width: 100%;

    .title {
      max-width: 417px;
      margin: 0 auto;
    }
  
    .name_title {
      font-size: 30px;
    }
  
    ul.list {
      justify-content: center;
    }
  }

  .navigation_bar ul li{
    margin-top: 17px;
  }

  #footer {
    margin-top: 53px;
  }

  
}

@media screen and (max-width: 950px) and (min-width: 640px) {
  .container {
    justify-content: space-around !important;

    ul.info li {
      display: none !important;
    } 

    ul li.myname {
      display: inline-block !important;
    }
  }
  
   .title {
    justify-content: space-around !important;
  }

  #content ul.list {
    justify-content: space-around !important;
  }
}


@media screen and (max-width: 1270px) and (min-width: 850px) {
  #content ul.list {
    justify-content: space-around;
  }
}


